/* 
Proceeding with Good Approach : 
Desktop First Apprach
 using the analytics data for most used devices wrt to their width

 0-600px : Phone
 600-900px : Tablet Portrait
 900-1200px : Tablet Landscape
1200-1800 : Desktop (where normal styles apply)
1800+ : Big screens


*/
/* $breakpoint arguments 
-phone
-tab-port 
-tab-land
-big-desktop

1em = 16px (as rem does not work in some browssers)

Order: Base + typography > general layout + grid > page layout >componenets
*/
:root {
  --h1: calc(2rem + 1vw);
  --h2: calc(3.5rem + 1vw);
  --h3: calc(3rem + 1vw);
  --h4: calc(2.2rem + 1vw);
  --p: calc(1.2rem + 1vw);
  --bigtext: calc(6rem + 1vw);
  --shadow-dark: 1rem 1rem 4rem rgba(0, 0, 0, 0.5),
    -1rem -1rem 4rem rgba(0, 0, 0, 0.5);
  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.05); }

/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

li,
button,
label,
input,
p {
  font-size: var(--text); }

ul {
  list-style: none; }

a {
  text-decoration: none; }

::selection {
  background-color: #34ffc8;
  color: #fff; }

.opening {
  animation: opening 1s ease-in-out; }

@keyframes opening {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeinleft,
.fadeinright,
.opening {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeinleft {
  animation: fadeinleft 1s ease-in-out 0.5s; }

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
    filter: blur(10px); }
  80% {
    opacity: 1;
    transform: translateX(10%);
    filter: blur(3px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.fadeinright {
  animation: fadeinright 1s ease-in-out 0.5s; }

@keyframes fadeinright {
  0% {
    opacity: 0;
    transform: translateX(20%);
    filter: blur(10px); }
  80% {
    opacity: 1;
    transform: translateX(-10%);
    filter: blur(3px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.moveinup {
  animation: moveinup 1s ease-in-out 1s backwards; }

@keyframes moveinup {
  0% {
    opacity: 0;
    transform: translateY(20%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.u-tc {
  text-align: center !important; }

.u-mb-2 {
  margin-bottom: 2rem !important; }

.u-mb-4 {
  margin-bottom: 4rem !important; }

.u-mb-6 {
  margin-bottom: 6rem !important; }

.u-mb-8 {
  margin-bottom: 8rem !important; }

.u-mt-4 {
  margin-top: 4rem !important; }

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

li,
button,
label,
input,
p {
  font-family: "Rubik", sans-serif;
  font-weight: 100; }

h1 {
  font-size: var(--h1); }

h2 {
  font-size: var(--h2); }

h3 {
  font-size: var(--h3); }

h4 {
  font-size: var(--h4); }

h5 {
  font-size: var(--h5); }

li,
button,
label,
input,
p {
  font-size: var(--p); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn::after {
  content: " ";
  padding: 1.5rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s; }

.btn--primary {
  width: 80%;
  background-color: #34ffc8;
  color: #212121; }
  .btn--primary::after {
    background-color: #34ffc8; }

.btn--secondary {
  background-color: #34ffc8;
  color: #faf9f9; }
  .btn--secondary::after {
    background-color: #34ffc8; }

.btn-text, .btn-text:link, .btn-text:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #34ffc8;
  border-left: 2px solid #34ffc8;
  padding: 1rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: var(--text);
  font-weight: 700;
  cursor: pointer;
  overflow: hidden; }

.btn-text:active, .btn-text:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:hover {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-text:hover::after {
    transform: translateY(0%); }

.btn-text::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  transform: translateX(-100%);
  background: #34ffc8;
  z-index: -1; }

.section-form {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #34ffc8 0%, #fffb7d 100%);
  color: #fff; }
  .section-form .validator {
    background: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 6rem;
    border-radius: 1rem;
    width: 80%; }

.form {
  flex: 1 0.5 30%; }
  .form .heading {
    margin-bottom: 2rem; }
    .form .heading p {
      font-size: 1.5rem;
      padding: 1rem;
      margin-bottom: 1rem; }
      .form .heading p span {
        color: #34ffc8;
        cursor: pointer; }
  .form-control {
    margin-bottom: 4rem;
    width: 100%;
    position: relative; }
    .form-control input {
      width: 80%;
      background: #2f2f2f;
      display: block;
      border: 2px solid #2f2f2f;
      border-radius: 1rem;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      color: #fff; }
      .form-control input:focus {
        background: #34ffc8;
        color: #212121;
        outline: 0; }
    .form-control small {
      font-size: 1.2rem;
      position: absolute;
      top: 1rem;
      left: 0;
      visibility: hidden;
      z-index: -1;
      margin: 1rem 0 0 2rem;
      transition: all 0.3s ease-in; }

.form-control.success input {
  border-color: #34ffc8; }

.form-control.error input {
  border-color: #e74c3c; }

.form-control.error small {
  visibility: visible;
  top: 4rem;
  z-index: 0; }

.passMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: none; }
  .passMessage p {
    font-size: 1.5rem; }
  .passMessage *:not(:last-child) {
    margin-right: 2rem; }
  .passMessage__invalid {
    color: #e74c3c; }
  .passMessage__valid {
    color: green; }

.validator-signup {
  flex: 1 1 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .validator-signup img {
    width: 80%; }

/* */
