.starter {
  min-height: 100vh;

  margin: auto;
  @include flex(row, center, center);
  background: $color-primary;
  color: $color-white;
  .logo {
    background: $color-grey-light-3;
    color: #000;
    @include flex(column, center, center);
    padding: 4rem;
    border-radius: 1rem;
  }
}
